<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/dist/favicon.ico">
    <title>Sistema de Manejo de Visitas</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="~/dist/css/chunk-vendors.3336ea7d.css" rel="stylesheet">
    <link href="~/dist/css/app.76edcb4f.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <noscript><strong>We're sorry but vms doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div>
    <script src="~/dist/js/chunk-vendors.b2e23723.js"></script>
    <script src="~/dist/js/app.e67c892d.js"></script>
    @RenderSection("Scripts", required:false)
</body>
</html>
